<app-navbar></app-navbar>

<div class="account-container">
  <!-- Horizontal Sub-navbar -->
  <nav class="account-tabs nav nav-tabs mb-2">
    <a routerLink="funds" routerLinkActive="active" class="nav-link">💰 Funds</a>
    <a routerLink="transactions" routerLinkActive="active" class="nav-link">📊 Transactions</a>
    <a routerLink="profile" routerLinkActive="active" class="nav-link">👤 Profile</a>
  </nav>

  <!-- Sub-content -->
  <div class="account-tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
