.register-container {
  max-width: 200px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #d20000;
  border-radius: 6px;
  background-color: #4f41a1;
}

.register-container h2 {
  text-align: center;
}

.register-container .form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.register-container .btn {
  width: 100%;
}

/* Optional animation */
.animated-entry {
  animation: fadeInUp 0.4s ease-in-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.register-input{
  margin-left: 50px;
}

