.main-container {
  margin-left: 250px;
  background-color: #ffffff;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.price-chart{
    border-radius: 10px;
  padding-top:20px;

}

.welcome-section {
  text-align: center;
  color: #343a40;
}
.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.asset-card {
  background: white;
  border-radius: 10px;
  padding: .5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.asset-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.asset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.asset-category {
  font-size: .8rem;
  font-weight: 700;
  color: #6c757d;
  text-transform: uppercase;
}


.asset-symbol {
  font-weight: bold;
  font-size: 1rem;
}

.price-section{
  margin-bottom: 10px;
}

.price-section h4 {
  font-size: 1.4rem;
  margin: 0;
}

.price-section span {
  font-size: 1rem;
}

.positive {
  color: #28a745;
}

.negative {
  color: #dc3545;
}

.mini-chart-placeholder {
  background-color: #c2d7ea;
  height: 40px;
  border-radius: 8px;
  margin-top: 2px;
  text-align: center;
  line-height: 50px;
  color: #4c5a62;
  font-size: 0.9rem;
}

.price-up {
  animation: blinkGreen 0.3s ease;
}
.price-down {
  animation: blinkRed 0.3s ease;
}

@keyframes blinkGreen {
  from { background-color: #e6ffed; }
  to { background-color: white; }
}

@keyframes blinkRed {
  from { background-color: #ffe6e6; }
  to { background-color: white; }
}
